:not(html, body) {
    background-color: black;
    color: lightblue;
    font-family: sans-serif;
}

body {
    background-color: black;
    display: flex;
    flex-direction: column;
    height: 130vh;
    margin: 0px;
}

h1, p {
    margin: 1%;
}

h1 {
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
}

ul {
    margin: 0px;
    padding: 0px;
    padding-left: 30px;
}

li {
    margin: 0px;
}

button {
    background-color: lightblue;
    color: black;
    width: 100px;
    height: 50px;
    margin: auto;
}

.container {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    overflow: hidden;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex: 1 1 auto;
    background-color: #333333;
}

.cell {
    flex: 0 0 auto;
    background-color: #222222;
}

.alive {
    background-color: lightgrey;
}